* {
    box-sizing: border-box;
  }

body{
    background-color:white;
    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stars {
    display: flex;
    flex-direction: row;
    font-size: 50px;
}

button{
    border: none;
    background-color: inherit;
    font-size: 50px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
button:hover{
    cursor: pointer;
    color: gold;
    text-shadow: none;
}

.checked{
    cursor: pointer;
    color: gold;
    text-shadow: none;
}


p{
    font-size: 24px;
}

